<div id="page-head">
    <div class="pad-all">
        <h4><i class="@ViewBag.TitleIcon spacerright"></i>@ViewBag.Title</h4>
        <ol class="breadcrumb">
            <li><a href="/"><i class="demo-pli-home"></i></a></li>
            <li><a href="@ViewBag.SemiTitleLink">@ViewBag.SemiTitle</a></li>
            <li class="active">@ViewBag.Title</li>
        </ol>
    </div>
    <div class="breaker"></div>
</div>
